{% extends "users/base.html" %}

{% block head_content %}
    <title>ThermoApp | user login</title>
{% endblock %}

{% block container %}
    <form method="POST" action="{%url 'users:login'%}">
        {% csrf_token %}
        <div class="form-group mt-5">
            <input type="text" class="form-control" placeholder="email" name="email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="password" name="password">
        </div>
        <button class="btn btn-warning btn-block mt-5" type="submit">Iniciar sesión</button>
    </form>

    <p class="mt-4">¿No tienes una cuenta aún? <a href="{% url 'users:signup' %}">Registrate acá</a></p>
{% endblock %}