html, body {
    background: #fafafa;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.dataTable thead {
    background-color:#f0ad4e;
    color:aliceblue;
} 

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.post-container {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

.nav-icon a {
    color: #262626;
    font-size: 1.3em;
    display: block;
    margin-top: .2em;
    margin-left: 1.2em;
    font-weight: 100;
}

.nav-icon a:hover {
    color: #1d5e72;;
}

.card-img-top{
    max-width: 65%;
}

.chart {
    height: 275px; 
    width: 1100px;
}

#profile-box {
    background: #fff;
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 1px;
    margin-top: 6em;
}

#user-posts #post-thumb {
    background: #fff;
}

#main .carousel-inner img{
    max-height: 80vh;
    object-fit: cover;
    filter: grayscale(50%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

#reference {
    background-color: #343a40;
    color: whitesmoke;
}

#reference img{
    max-width: 100%;
}

#benefits{
    background-color: whitesmoke;
}

#auth-container {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
}

#line-chart {
    min-height: 250px;
}

#footer a{
    color: whitesmoke;
}

