{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h1>{% trans "Restablecimiento de contraseña" %}</h1>
                
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p>{% blocktrans %}Te hemos enviado un e-mail. Por favor contactanos si no lo recibes en los proximos minutos.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}

