{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Cambio de contraseña" %}{% endblock %}

{% block inner %}
<div class="container">
    <div class="row mt-5">
        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Cambio de contraseña" %}{% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}El link de cambio de password fue invalido, posiblemente porque este ya fue usado. Por favor solcita otro <a href="{{ passwd_reset_url }}">nuevo</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form method="POST" action=".">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" name="action" value="{% trans 'cambiar contraseña' %}"/>
                </form>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

