{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "¿Olvidaste tu contraseña? Introduce tu dirección e-mail abajo, y te enviaremos un e-mail que te permitira cambiarla." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="{% trans 'Restablecer mi contraseña' %}" />
            </form>

            <p>{% blocktrans %}Por favor contactanos si tienes algun problema reestableciendo la contraseña{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}

