{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verifica tu correo electronico" %}{% endblock %}

{% block inner %}
<h1>{% trans "Verifica tu correo electronico" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Esta parte del sitio requiere que verifiques tu identidad. Para este proposito, nesecitamos
que completes el proceso de verificacion respondiendo el email que enviamos a tu correo. {% endblocktrans %}</p>

<p>{% blocktrans %}Por favor sa click en el link contenido dentro del mensaje.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Nota:</strong> aun puedes <a href="{{ email_url }}">cambiar tu direccion de correo</a>.{% endblocktrans %}</p>


{% endblock %}

