{% extends "base.html" %}

{% block head_title %}Creacion de maquina{% endblock %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-10 offset-1" style="margin-top: 6em;">
        <h1>Bienvenido al asistente de creacion de maquina</h1>
  
        <p class='pt-3'>Para iniciar por favor llena los detalles de la hoja de vida de la maquina</p>
  
        <form class="create_machine pt-2" 
              id="create_machine_form" 
              method="post" 
              enctype="multipart/form-data" 
              action="{% url 'machines:create_machine' %}">
          {% csrf_token %}
          
          {{ form|crispy }}

          <button class="mt-5 btn btn-warning" type="submit">Registrar maquina &raquo;</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}