{% extends "base.html" %}

{% block head_title %}Tehermoapp: Detalle{% endblock %}

{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col mt-2 d-flex justify-content-center">
            <h1>Detalle de maquinas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col pt-4 d-flex justify-content-start">
            <p style="font-size: 1.3em;">Para comenzar registra una nueva <a href="{% url 'machines:create_machine' %}">maquina</a> o revisa las que ya tienes</p>
        </div>    
    </div>    
</div>
{% for machine in machines %}
<div class="container mb-5" style="margin-top: 4em;">
    <div class="row">
        <div class="col-sm-2 d-flex justify-content-center">
            <a href=""></a>
                <!--{{ machine.picture_url }}-->
                <img src="{% static 'images/steam-im-3.jpeg' %}"  
                    alt="machine1"
                    class="rounded-circle"
                    width="160px">
            </a>    
        </div>
        <div class="col-sm-10">
            <h3 style="font-weight: 100;">
                {{ machine.sap_code }}
                <!--TODO: Creacion de reportes-->
                <a href="" 
                   class="ml-3 btn btn-sm btn-warning">
                   Crear reporte
                </a>
                {% if machine.report_number != 0 %}
                <!--TODO: Mis reportes detalle-->>
                <a href=""
                   class="ml-3 btn btn-sm btn-warning">
                   Mis reportes
                </a>
                {% endif %}
            </h3>
            <div class="row mt-2" style="font-size: 1.2em;">
                <div class="col-sm-4">
                    <b>Modelo: {{ machine.model }}</b>  
                </div>
                <div class="col-sm-5">
                    <b>Clasificacion NETA: {{ machine.neta_classification }}</b>  
                </div>
                <div class="col-sm-3">
                    <b>{{ machine.report_number }} reportes</b> 
                </div>
            </div>
            <div class="row mt-1" style="font-size: 1.2em;">
                <div class="col-sm-4">
                    <b>Serial: {{ machine.serial_number }}</b>  
                </div>
                <div class="col-sm-5">
                    <b>Registrado por: {{ machine.register_by }}</b>  
                </div>
            </div>
            <div class="row mt-1" style="font-size: 1.2em;">
                <div class="col-sm-4">
                    <b>Ubicacion: {{ machine.location }}</b>  
                </div>
                <div class="col-sm-5">
                    <b>Tipo de maquina: {{ machine.machine_type }}</b>  
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}