{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6" style="margin-top: 8em;" id="machine-box">
            <form action="{% url 'machines:update_machine' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                {# serial number field #}
                <div class="form-group">
                    <label>Serial</label>
                    <input class="form-control {% if form.serial_number.errors %}is-invaild{% endif %}"
                           type="text"
                           name="serial_number"
                           value="{% if form.errors %}
                                    {{ form.serial_number.value }}
                                  {% else %}
                                    {{ machine.serial_number }}
                                  {% endif %}">
                    <div class="invalid-feedback">
                            {% for error in form.serial_number.errors %}
                                    {{ error }}
                            {% endfor %}
                    </div>
                </div>
                {# NEA_classification field #}
                <div class="form-group">
                    <label>Clasificacion NETA</label>
                    <input class="form-control {% if form.neta_classification.errors %}is-invaild{% endif %}"
                           type="text"
                           name="nea_classification"
                           value="{% if form.errors %}
                                    {{ form.neta_classification.value }}
                                  {% else %}
                                    {{ machine.neta_classification }}
                                  {% endif %}">
                    <div class="invalid-feedback">
                            {% for error in form.nea_classification.errors %}
                                    {{ error }}
                            {% endfor %}
                    </div>
                </div>
                {# model #}
                <div class="form-group">
                    <label>Modelo</label>
                    <input class="form-control {% if form.model.errors %}is-invaild{% endif %}"
                           type="text"
                           name="model"
                           value="{% if form.errors %}
                                    {{ form.model.value }}
                                  {% else %}
                                    {{ machine.model }}
                                  {% endif %}">
                    <div class="invalid-feedback">
                            {% for error in form.model.errors %}
                                    {{ error }}
                            {% endfor %}
                    </div>
                </div>
                {# sap_code #}
                <div class="form-group">
                    <label>Codigo SAP</label>
                    <input class="form-control {% if form.sap_code.errors %}is-invaild{% endif %}"
                           type="text"
                           name="sap_code"
                           value="{% if form.errors %}
                                    {{ form.sap_code.value }}
                                  {% else %}
                                    {{ machine.sap_code }}
                                  {% endif %}">
                    <div class="invalid-feedback">
                            {% for error in form.sap_code.errors %}
                                    {{ error }}
                            {% endfor %}
                    </div>
                </div>

                <button class="btn btn-warning btn-block mt-5"type="submit">Actualizar informacion</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}