{% extends "mant/base.html" %}

{% block head_content %}
    <title>Reporte de termografía | A0105437</title>
{% endblock %}

{% block container %}
    {% load static %}
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/temperature.png' %}"
                width="30" 
                height="30" 
                class="d-inline-block align-top mr-2" alt="" 
                loading="lazy">ThermoApp
        </a>

        <button class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbar" 
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse align-top" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" style="color: whitesmoke;">
                    Regresar <a href="{% url 'mant:album' %}">
                        <i class="fas fa-undo-alt pr-2"></i>
                    </a>
                </li>
                <li class="nav-item active" style="color: whitesmoke;">
                    Logout <a href="{% url 'users:logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container mt-4">
            <div class="row">
                <div class="col text-uppercase text-center">
                    <h2>reporte de inspección termografíca</h2>
                </div>
            </div>
        </div>
        <div class="container mt-4" id="auth-container">
            <form>
            {% csrf_token %}
                <div class="form-group row pt-4 pl-5 pr-5 pb-2">
                    <label for="company_name" class="col-2 col-form-label">Empresa:</label>
                    <div class="col offset-6">
                        <input type="text" 
                               readonly class="form-control-plaintext" 
                               id="company_name" 
                               value="Massy Energy">
                    </div>
                </div>
                <div class="form-group row pt-2 pl-5 pr-5 pb-2">
                    <label for="request_user" class="col-2 col-form-label">Solicita:</label>
                    <div class="col offset-6">
                        <input type="text" 
                               readonly class="form-control-plaintext" 
                               id="request_user" 
                               value="Michael Liroy Carrillo">
                    </div>
                </div>
                <div class="form-group row pt-2 pl-5 pr-5 pb-2">
                    <label for="request_date" class="col-2 col-form-label">Fecha:</label>
                    <div class="col offset-6">
                        <input type="text" 
                               readonly class="form-control-plaintext" 
                               id="request_date" 
                               value="03/08/2020">
                    </div>
                </div>
                <div class="form-group row pt-2 pl-5 pr-5 pb-2">
                    <label for="inspecction" class="col-2 col-form-label">Inspección realizada:</label>
                    <div class="col offset-6">
                        <input type="text" 
                               readonly class="form-control-plaintext" 
                               id="inspecction" 
                               value="Inspección termografíca de operación">
                    </div>
                </div>
                <div class="form-group row pt-2 pl-5 pr-5 pb-2">
                    <label for="inspection_date" class="col-2 col-form-label">Fecha de inspección:</label>
                    <div class="col offset-6">
                        <input type="text" 
                               readonly class="form-control-plaintext" 
                               id="inspecction_date" 
                               value="03/07/2020">
                    </div>
                </div>
                <div class="form-group row pt-2 pl-5 pr-5 pb-2">
                    <label for="camara" class="col-2 col-form-label">Equipo utilizado:</label>
                    <div class="col offset-6">
                        <input type="text" 
                               readonly class="form-control-plaintext" 
                               id="camara" 
                               value="Camara Nec Micron TH5104">
                    </div>
                </div>
                <div class="form-group row pt-2 pl-5 pr-5 pb-2">
                    <label for="colab_name" class="col-2 col-form-label">Equipo utilizado:</label>
                    <div class="col offset-6">
                        <input type="text" 
                               readonly class="form-control-plaintext" 
                               id="colab_name" 
                               value="Pepito Perez Nivel 1(ITC)">
                    </div>
                </div>
            </form>
        </div>
        <br>
        <div class="container mt-2" id="auth-container">
            <div class="row">
                <div class="col mt-2 text-uppercase text-left">
                    <h4>Imagen 1</h4>
                </div>
            </div>
        </div>
        <div class="container mt-1" id="auth-container">
            <form>
                <div class="form-group row pt-4 pl-5 pr-5 pb-2">
                    <label for="location" class="col-2 col-form-label">Ubicación:</label>
                    <div class="col offset-2">
                        <input type="text" 
                               readonly class="form-control-plaintext" 
                               id="location" 
                               value="CPF Moriche">
                    </div>
                </div>
                <div class="form-group row pt-1 pl-5 pr-5 pb-1">
                    <label for="SAP_code" class="col-2 col-form-label">Identificación:</label>
                    <div class="col offset-2">
                        <input type="text" 
                               readonly class="form-control-plaintext" 
                               id="SAP_code" 
                               value="A0105437">
                    </div>
                </div>
                <div class="form-group row pt-1 pl-5 pr-5 pb-1">
                    <label for="description" class="col-2 col-form-label">Descripción:</label>
                    <div class="col offset-2">
                        <input type="text" 
                               readonly class="form-control-plaintext" 
                               id="description" 
                               value="Rodamiento bomba de lodos en bombas Jockey-CP-143">
                    </div>
                </div>
            </form>
            <br>
            <h5 class="ml-2">Imagen visual</h5>
            <div class="container">
                <div class="row">
                    <div class="col mt-2 mb-3 pr-2 d-flex justify-content-center align-items-center">
                        <img src="{% static 'img/machine_1.jpg' %}" 
                             alt="machine1" 
                             style="max-height: 80vh;">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container mt-1 mb-2" id="auth-container">
            <div class="row">
                <div class="col mt-2 text-left">
                    <h5>Imagen termografíca</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mt-2 mb-3 pr-2 d-flex justify-content-center align-items-center">
                    <img src="{% static 'img/thermography_1.jpg' %}" 
                         alt="machine1" 
                         style="max-height: 80vh;">
                </div>
                <div class="col-6 mt-2 mb-3 pr-2">
                    <form>
                        <div class="form-group row pt-4 pl-5 pr-5 pb-2">
                            <label for="AMEF_cause" class="col-2 col-form-label">Causa probable:</label>
                            <div class="col offset-2">
                                <input type="text" 
                                    readonly class="form-control-plaintext" 
                                    id="AMEF_cause" 
                                    value="Falla en plan de sellos">
                            </div>
                        </div>
                        <div class="form-group row pt-4 pl-5 pr-5 pb-2">
                            <label for="AMEF_recom" class="col-2 col-form-label">Recomendaciones:</label>
                            <div class="col offset-2">
                                <input type="text" 
                                    readonly class="form-control-plaintext" 
                                    id="AMEF_recom" 
                                    value="Desarmar y cambiar aceite">
                            </div>
                        </div>
                        <div class="form-group row pt-4 pl-5 pr-5 pb-2">
                            <label for="AMEF_priority" class="col-2 col-form-label">Prioridad:</label>
                            <div class="col offset-2">
                                <input type="text" 
                                    readonly class="form-control-plaintext" 
                                    id="AMEF_priority" 
                                    value="Media">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}